# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
dist/
build/
*.egg-info/

# Editors
.idea/
.vscode/

# OS
.DS_Store

# Coverage
.coverage
htmlcov/

# MkDocs
site/

# Env
.env

# E2E outputs and caches
out/
out-cli/
.e2e-cache/
.e2e-state/
